
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed" href="index.html">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link collapsed" href="/Blog/GetBlogWriterId">
                <i class="bi bi-grid"></i>
                <span>Bloglarım</span>
            </a>
        </li>
         
        <li class="nav-item">
            <a class="nav-link collapsed" href="/Blog/AddBlog/">
                <i class="ri-add-circle-fill"></i>
                <span>Blog Ekle</span>
            </a>
        </li>



        

        




        <li class="nav-item">
            <a class="nav-link " href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>Profilim</span>
            </a>
        </li><!-- End Profile Page Nav -->



        <li class="nav-item">
            <a class="nav-link collapsed" href="pages-contact.html">
                <i class="bi bi-envelope"></i>
                <span>Mesajlar</span>
            </a>
        </li><!-- End Contact Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="pages-contact.html">
                <i class="ri-settings-5-fill"></i>
                <span>Ayarlar</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link collapsed" href="/Blog/Index">
                <i class="ri-arrow-right-circle-fill"></i>
                <span>Siteye Git</span>
            </a>
        </li>



        <li class="nav-item">
            <a class="nav-link collapsed" href="pages-login.html">
                <i class="bi bi-box-arrow-in-right"></i>
                <span>Çıkış Yap</span>
            </a>
        </li><!-- End Login Page Nav -->



    </ul>

</aside>